
@{
    ViewBag.Title = "ProductSummary";
    MarlinApp.Data.tblProduct product = ViewBag.Product;
}


<link rel="stylesheet" href="~/Content/Product.css" />
<div class="header-wrapper">
    <img class="card-img-top" src="~/Content/Images/marlin.jpg" />
    <input type="text" placeholder="Search..">
    <button type="submit" class="searchButton"><b>Find</b></button>
</div>


<div class="page">
    <div id="header">
        category > subcategory > @product.Model
    </div>
    <div id="product-name">
        This is for the product name: @product.Product_Name/@product.Brand/@product.Model    Past Specification
    </div>
    <div class="topnav">
        <a href="#">Product Summary</a>
        <a href="#">Product Details</a>
        <a href="#">Product Documentation</a>
        <a href="#">Contact</a>
    </div>
   <div class="product-info">
    
    <div class="PageTitle">Product Summary</div>

    <div class="column">
        Description
        <div id="description">
            <div class="label">
                <div class="label-text">
                    <label>Manufacturer</label> <br />
                    <label>Series</label> <br />
                    <label>Label</label><br />
                </div>
            </div>
                <div class="result">

                </div>
            </div>
        Type
        <div id="type">
            <div class="label">
                <div class="label-text">
                    <label>Use Types</label> <br />
                    <label>Color</label> <br />
                    <label>Operating System</label><br />                 
                    <label>Model Year</label><br />
                </div>
            </div>
            <div class="result">
            </div>
        </div>
    </div>
    <div class="column">
        Technical Specifications
        <div id="TechInfo">
            <div class="label">
                <div class="label-text">
                    <label>Price</label> <br />
                    <label>Screen size (Inches)</label> <br />
                    <label>RAM</label><br />
                    <label>Processor</label><br />
                    <label>Storage</label><br />
                </div>
            </div>
            <div class="result">
            </div>
            </div>

    </div>
   </div>
</div>