@section Styles {
    <link href="@Url.Content("~/Content/NavBar.css")" rel="stylesheet" type="text/css" />
}
    <div id="navbar-container">
        <!--<div class="user-logo-container">
            <img class="logo" src="~/Content/Images/verified-user.png" />
        </div>
        <input id="search-bar" type="search" />
        <img class="search-bar-logo" src="~/Content/Images/marlin.jpg" />-->


        <div class="container">
            <div class="row">
                <div class="col-1">
                    <img class="search-bar-user-logo" src="~/Content/Images/verified-user.png" />
                </div>
                <div class="col-8">
                    <input id="search-bar" type="search" />
                </div>
            </div>
        </div>




        <h1>Partial view!</h1>
    </div>
