<!--<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">@ViewBag.Category</a></li>
        <li class="breadcrumb-item active" aria-current="current">@ViewBag.SubCategory</li>
    </ol>
</nav>-->
<div class="container">
    <div class="row">
        <div class="input-group d-inline-flex justify-content-center">
            <!--<img id="top-bar-logo" src="~/Content/Images/marlin.jpg" class="rounded-circle" alt="user logo" />-->
            <input id="top-bar-search" name="search" type="text" class="form-control" aria-describedby="button-addon4">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
        <div class="justify-content-end">
            <img id="top-bar-logo" src="~/Content/Images/marlin.jpg" class="rounded-circle" alt="user logo" style="height:96px; width:108px;" />
        </div>
    </div>
</div>
