
@{
    ViewBag.Title = "Compare";
}

<link rel="stylesheet" href="~/Content/Product.css" />
<script type="text/javascript" src="~/Scripts/script.js"></script>
<div class="header-wrapper">
    <img class="card-img-top" style="width: 115px;height: 89px;" src="~/Content/Images/marlin.jpg" />
    <input type="text" placeholder="Search..">
    <button type="submit" class="searchButton"><b>Find</b></button>

</div>

<div class="page">
    <div id="header" style="margin-left:20px;border-bottom:0px">
        This is the page header Category > SubCaterogy > Compare
    </div>
    <table id="compare-table">
        <tr>
            <th style="border:0"></th>
            <th><img class="product-compare-image" style="width: 200px;height: 85px;" src="~/Content/Images/marlin.jpg" /></th>
        </tr>
        <tr>
            <th>Description</th>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <th>Big Ass</th>
        </tr>
        <tr>
            <td>Series</td>
            <th>Haiku</th>
        </tr>
        <tr>
            <td>Model</td>
            <th>123456</th>
        </tr>
        <tr>
            <th>Type</th>
        </tr>
        <tr>
            <td>Use Types</td>
            <th>Desktop</th>
        </tr>
        <tr>
            <td>Color</td>
            <th>Red</th>
        </tr>
        <tr>
            <td>Operating System</td>
            <th>Microsoft</th>
        </tr>
        <tr>
            <td>Model year</td>
            <th>2019</th>
        </tr>
        <tr>
            <th>Technical Specifications</th>
        </tr>
        <tr>
            <td>Price</td>
            <th>700$</th>
        </tr>
        <tr>
            <td>Screen size(Inches)</td>
            <th>12</th>
        </tr>
        <tr>
            <td>RAM</td>
            <th>16GB</th>
        </tr>
        <tr>
            <td>Processor</td>
            <th>i5</th>
        </tr>
        <tr>
            <td>Storage</td>
            <th>1TB</th>
        </tr>
    </table>


    <!--   <div class="column side" style="width:15%; border-top:0px">
           <img class="product-compare-image" style="width: 180px;height: 120px;" src="~/Content/Images/marlin.jpg" />
           Description
           <div id="description"  style="border:0.5px solid grey">
               <div class="label" style="width:100%;">
                   <div class="label-text">
                       <label>Manufacturer</label> <br />
                       <label>Series</label> <br />
                       <label>Label</label><br />
                   </div>
               </div>

           </div>
           Type
           <div id="type" style="border:0.5px solid grey">
               <div class="label" style="width:100%;">
                   <div class="label-text">
                       <label>Use Types</label> <br />
                       <label>Color</label> <br />
                       <label>Operating System</label><br />
                       <label>Model Year</label><br />
                   </div>
               </div>

           </div>
           Technical Specifications
           <div id="TechInfo" style="border:0.5px solid grey">
               <div class="label" style="width:100%;">
                   <div class="label-text">
                       <label>Price</label> <br />
                       <label>Screen size (Inches)</label> <br />
                       <label>RAM</label><br />
                       <label>Processor</label><br />
                       <label>Storage</label><br />
                   </div>
               </div>

           </div>
       </div>
           <div class="column middle" style="width:80%; border:0px">

           </div>
      -->
</div>