
@{
    ViewBag.Title = "Compare";
}

<link rel="stylesheet" href="~/Content/Product.css" />
<script type="text/javascript" src="~/Scripts/script.js"></script>
<div class="header-wrapper">
    <img class="card-img-top" style="width: 115px;height: 89px;" src="~/Content/Images/marlin.jpg" />
    <input type="text" placeholder="Search..">
    <button type="submit" class="searchButton"><b>Find</b></button>

</div>

<div class="page">
    <div id="header" style="margin-left:20px;border-bottom:0px">
        This is the page header Category > SubCaterogy > Compare
    </div>
    <table id="compare-table">
        <tr>
            <th style="border:0"></th>
            <th><img class="product-compare-image" style="width: 200px;height: 85px;" src="~/Content/Images/marlin.jpg" /></th>
        </tr>
        <tr>
            <th>Description</th>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <th>Big Ass</th>
        </tr>
        <tr>
            <td>Series</td>
            <th>Haiku</th>
        </tr>
        <tr>
            <td>Model</td>
            <th>123456</th>
        </tr>
        <tr>
            <th>Type</th>
        </tr>
        <tr>
            <td>Use Types</td>
            <th>Desktop</th>
        </tr>
        <tr>
            <td>Color</td>
            <th>Red</th>
        </tr>
        <tr>
            <td>Operating System</td>
            <th>Microsoft</th>
        </tr>
        <tr>
            <td>Model year</td>
            <th>2019</th>
        </tr>
        <tr>
            <th>Technical Specifications</th>
        </tr>
        <tr>
            <td>Price</td>
            <th>700$</th>
        </tr>
        <tr>
            <td>Screen size(Inches)</td>
            <th>12</th>
        </tr>
        <tr>
            <td>RAM</td>
            <th>16GB</th>
        </tr>
        <tr>
            <td>Processor</td>
            <th>i5</th>
        </tr>
        <tr>
            <td>Storage</td>
            <th>1TB</th>
        </tr>
    </table>
</div>