
@{
    ViewBag.Title = "Contact";
}

<link rel="stylesheet" href="~/Content/Product.css" />
<div class="header-wrapper">
    <img class="card-img-top" src="~/Content/Images/marlin.jpg" />
    <input type="text" placeholder="Search..">
    <button type="submit" class="searchButton"><b>Find</b></button>
</div>


<div class="page">
    <div id="header">
        This is the page header Category > SubCaterogy > Series
    </div>
    <div id="product-name">
        This is for the product name: Name/Type/Series    Past Specification
    </div>
    <div class="topnav">
        <a href="ProductSummary">Product Summary</a>
        <a href="ProductDetails">Product Details</a>
        <a href="ProductDocumentation">Product Documentation</a>
        <a href="Contact">Contact</a>
    </div>
    <div class="product-info">
        <div class="PageTitle">Contact</div>
        <div class="column">
            SALE PRESENTATIVES
            <div id="description">
                <div class="label">
                    <div class="label-text">
                        <label>Name</label> <br />
                        <label>Phone</label> <br />
                        <label>Email</label><br />
                        <label>Web</label><br />
                    </div>
                </div>
                <div class="result">

                </div>
            </div>              
        </div>
        <div class="column">
            MANUFACTURER
            <div id="ManufacturerInfo">
                <div class="label">
                    <div class="label-text">
                        <label>Department</label> <br />
                        <label>Phone</label> <br />
                        <label>Email</label><br />
                        <label>Web</label><br />
                       
                    </div>
                </div>
                <div class="result">
                </div>
            </div>

        </div>


    </div>
</div>


