

@{
    ViewBag.Title = "Load";
}
<link rel="stylesheet" href="~/Content/ProductList.css" />
<link rel="stylesheet" href="~/Scripts/bootstrap.min.js" />
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

<div class="header-wrapper">
    <img class="card-img-top" src="~/Content/Images/marlin.jpg" />
    <input type="text" placeholder="Search..">
    <button type="submit" class="searchButton"><b>Find</b></button>

</div>


<dl class="dl-horizontal">
    <div class="row product-row">
        <div class="column side">
            <div id="SearchSaveClear">
                <span style="margin-left:10px;font-size:15px;color:grey">Search:</span>
                <span class="SaveClearbutton">
                    <input id="Save" type="button" value="Save" />
                    <input id="Clear" type="button" value="Clear" />
                </span>
            </div>
            <div id="ProductProject">
                <input id="Product" type="button" value="Product" />
                <input id="Project" type="button" value="Project" />
            </div>
            <div id="ProductType">
                Product Type
                <button type="button" class="" data-toggle="modal" data-target="#myModal" style="float:right;height:23px">Search</button>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">


                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;padding-left:10px;background-color:#786d6d;color:white">
                                <div class="modal-title">Find fans</div>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div style="margin:0px;padding-left:10px;background-color:#f3f2f2;border:1px solid grey">Type</div>
                            <div class="modal-body">
                                <div class="column side" style="width:25%;float:left">
                                    <label>Use Type</label> <br />
                                    <label>Application</label><br />
                                    <label>Mounting </label><br />
                                    <label>Accessories</label><br />
                                    <label>Model year</label>
                                </div>
                                <div class="column middle" style="width:65%; float:right">
                                    <label>
                                        <span>
                                            Commercial
                                            <input type="radio" checked="checked" name="radio1">
                                            <span class="checkmark"></span>
                                        </span>
                                        <span>
                                            Industrial
                                            <input type="radio" checked="checked" name="radio1">
                                            <span class="checkmark"></span>
                                        </span>
                                        <span>
                                            Residental
                                            <input type="radio" checked="checked" name="radio1">
                                            <span class="checkmark"></span>
                                        </span>
                                    </label><br />
                                    <label>
                                        <span>
                                            Indoor
                                            <input type="radio" checked="checked" name="radio2">
                                            <span class="checkmark"></span>
                                        </span>
                                        <span>
                                            Outdoor
                                            <input type="radio" checked="checked" name="radio2">
                                            <span class="checkmark"></span>
                                        </span>
                                    </label><br />
                                    <label>
                                        <span>
                                            Roof
                                            <input type="radio" checked="checked" name="radio3">
                                            <span class="checkmark"></span>
                                        </span>
                                        <span>
                                            Wall
                                            <input type="radio" checked="checked" name="radio3">
                                            <span class="checkmark"></span>
                                        </span>
                                        <span>
                                            Free Standing
                                            <input type="radio" checked="checked" name="radio3">
                                            <span class="checkmark"></span>
                                        </span>
                                    </label><br />
                                    <label>
                                        <span>
                                            With Light
                                            <input type="radio" checked="checked" name="radio4">
                                            <span class="checkmark"></span>
                                        </span>
                                        <span>
                                            Without light
                                            <input type="radio" checked="checked" name="radio4">
                                            <span class="checkmark"></span>
                                        </span>
                                    </label><br />
                                    <label>
                                        <span class="range-container">
                                            <input type="text" id="number"  value="0" />
                                            <button onclick="reduceValue(this)" value="down">&#8249</button>
                                            <button onclick="increaseValue(this)" value="up">&#8250</button>
                                        </span>
                                        -
                                        <span class="range-container">
                                            <input type="text" id="number"  value="0" />
                                            <button onclick="reduceValue(this)" value="down">&#8249 </button>
                                            <button onclick="increaseValue(this)" value="up">&#8250</button>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div style="margin:0px;padding-left:10px;background-color:#f3f2f2;border:1px solid grey">Technical Details</div>
                            <div class="modal-body">
                                <div class="column side" style="width:25%;float:left">
                                    <label>Use Type</label> <br />
                                    <label>Application</label><br />
                                    <label>Mounting </label><br />
                                    <label>Accessories</label><br />
                                    <label>Model year</label>
                                </div>
                                <div class="column middle" style="width:65%; float:right">
                                </div>
                            </div>
                            <div style="margin:0px;padding-left:10px;background-color:#f3f2f2;border:1px solid grey">Brand</div>
                            <div class="brand">
                                Select Brands
                                <input list="brand" type="text">
                                <datalist id="brand">
                                    <option value="Columbia Company"></option>
                                    <option value="Laars"></option>
                                    <option value="Hurst & Welding Company, Inc"></option>
                                </datalist>
                            </div>
                            <div style="margin:0px;padding-left:10px;background-color:#f3f2f2;border:1px solid grey;">Others</div>
                            <div class="brand">
                                With the words
                                <input list="brand" type="text">
                                <datalist id="brand">

                                </datalist>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" >Search</button>
                            </div>


                        </div>

                        </div>
                </div>
            </div>
            <div id="ModelYear">
                <span style="margin-left:0px;font-size:15px;font: bold; color: dimgrey">Model Year:</span>
                <input id="YearFrom" type="text" />-<input id="YearTo" type="text" />
            </div>
            <div id="TechSpec">
                <span style="margin-left:5px;font-size:12px;color:black">Technology Specification</span>
            </div>
            <div id="TechSpecDetail">
                <div class="Property">
                    <span id="PropertyName">AirFlow(CFM)</span> <br />
                    <input class="PropertyFrom" type="text" />
                    --------------
                    <input class="PropertyTo" type="text" />
                </div>
                <div class="Property">
                    <span id="PropertyName">MaxPower(W)</span> <br />
                    <input class="PropertyFrom" type="text" />
                    --------------
                    <input class="PropertyTo" type="text" />
                </div>
                <div class="Property">
                    <span id="PropertyName">Sound at max speed(dBA)</span> <br />
                    <input class="PropertyFrom" type="text" />
                    --------------
                    <input class="PropertyTo" type="text" />
                </div>
                <div class="Property">
                    <span id="PropertyName">Fan sweep diameter(in)</span> <br />
                    <input class="PropertyFrom" type="text" />
                    --------------
                    <input class="PropertyTo" type="text" />
                </div>
                <div class="Property">
                    <span id="PropertyName">Fan sweep diameter(in)</span> <br />
                    <input class="PropertyFrom" type="text" />
                    --------------
                    <input class="PropertyTo" type="text" />
                </div>
            </div>
            <div id="Brand">
                Brand

            </div>
            <div id="PastSelection">
                <div class="Property">
                    <span id="PropertyName">Firm</span> <br />
                    <input class="PropertyFrom" type="text" />
                    --------------
                    <input class="PropertyTo" type="text" />
                </div>
                <div class="Property">
                    <span id="PropertyName">Global</span> <br />
                    <input class="PropertyFrom" type="text" />
                    --------------
                    <input class="PropertyTo" type="text" />
                </div>

            </div>
            <div id="Certification">
                Certification

            </div>
        </div>
        <div class="column middle">
            <div style="padding:10px">Mechanical > HCA Fan</div>
            <div class="product">
                <a href="">
                    <img src="" class="product-image">
                    <div class="product-title">
                        Emerson Luray Eco Series CF860
                    </div>
                </a>
                <div class="product-prorperty">
                    8,500 CFM <br />
                    33 W at max speed <br />
                    40 dBAat max speed <br />
                    60” fan sweep diameter<br />
                </div>
                <div class="pastspecifications">
                    Past specifications:<br />
                    10firm / 1492global
                </div>

            </div>
            <div class="product">
                <a href="">
                    <img src="" class="product-image">
                    <div class="product-title">
                        Emerson Luray Eco Series CF860
                    </div>
                </a>
                <div class="product-prorperty">
                    8,500 CFM <br />
                    33 W at max speed <br />
                    40 dBAat max speed <br />
                    60” fan sweep diameter<br />
                </div>
                <div class="pastspecifications">
                    Past specifications:<br />
                    10firm / 1492global
                </div>

            </div>
        </div>
    </div>
</dl>
