

@{
    ViewBag.Title = "Load";
}
<link rel="stylesheet" href="~/Content/ProductList.css" />
<div class="header-wrapper">
    <img class="card-img-top" src="~/Content/Images/marlin.jpg" />
    <input type="text" placeholder="Search..">
    <button type="submit" class="searchButton"><img src="~Content/Images/search.png" /> </button>
    
</div>
<dl class="dl-horizontal">
    <div class="row">
        <div class="column side">
             <span style="margin-left:10px;">Search</span>
            <span class="SaveClearbutton">
                <input id="Save" type="button" value="Save" />
                <input id="Clear" type="button" value="Clear" />
            </span>
        </div>

        <div class="column middle">
            <h2>Main Content</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
        </div>


    </div>
</dl>