
@{
    ViewBag.Title = "ProductDocumentation";
}

<link rel="stylesheet" href="~/Content/Product.css" />
<div class="header-wrapper">
    <img class="card-img-top" src="~/Content/Images/marlin.jpg" />
    <input type="text" placeholder="Search..">
    <button type="submit" class="searchButton"><b>Find</b></button>
</div>


<div class="page">
    <div id="header">
        This is the page header Category > SubCaterogy > Series
    </div>
    <div id="product-name">
        This is for the product name: Name/Type/Series    Past Specification
    </div>
    <div class="topnav">
        <a href="ProductSummary">Product Summary</a>
        <a href="ProductDetails">Product Details</a>
        <a href="ProductDocumentation">Product Documentation</a>
        <a href="Contact">Contact</a>
    </div>
    <div class="product-info">

        <div class="PageTitle">Product Documentation</div>
        <div class="column">

        </div>

       
    </div>
</div>

