
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var categories = (List<MarlinApp.Data.tblCategory>)ViewData["Categories"]; // Cast the list
}

<!--<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="~/Scripts/bootstrap.min.js" />
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>-->


<div style="font-family:Arial;text-align:center;position:center">

    <img src="~/Content/Images/marlin.jpg" alt="Alternate Text" width="200" />
    <br /> <br />
    <h4>Building Product Selection Platform</h4>

</div>


<div class="input-group d-flex justify-content-center p-4">
    <div class="input-group-append" id="button-addon4">
        <select class="searchElement" id="StudentGender" name="Category" style="width:200px">
            <option>Category</option>
            <option>Furniture</option>
            <option>Electrical</option>
        </select>
    </div>
    <input type="text" class="form-control" aria-describedby="button-addon4">
    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>

<div class="input-group d-flex justify-content-center p-4">
    <div class="input-group-append">
        <select class="searchElement" id="StudentGender" name="Category" style="width:200px">
            @if (@categories != null)
            {
                foreach (var c in @categories) // Print the list
                {
                    <option>@c.Category_Name</option>
                }
            }
        </select>
    </div>
    <input type="text" class="form-control" aria-describedby="button-addon4">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>

