
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/ProductCompare.css" />
<link rel="stylesheet" href="~/Content/ProductList.css" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />

<div class="header-wrapper">
    <img class="card-img-top" style="width: 115px;height: 89px;" src="~/Content/Images/marlin.jpg" />
    <input type="text" placeholder="Search..">
    <button type="submit" class="searchButton"><b>Find</b></button>

</div>

<div id="container">
    <h2>Compare</h2>
    @*<div class="d-flex flex-wrap justify-content-between">*@
    <div class="row">
        @*<div class="Description">*@
        <div class="col-sm">
            <ul class="detail">
                <li>Description</li>
                <li>Model</li>
                <li>Price</li>
                <li>Storage</li>
                <li>Memory</li>
                <li>Processor Model</li>
                <li>Screen Size</li>
                <li>Operation System</li>

            </ul>
        </div>

        @*<div class="Description">*@
        <div class="col-sm">
            <ul class="detail">
                <li>Description</li>
                <li>Model</li>
                <li>Price</li>
                <li>Storage</li>
                <li>Memory</li>
                <li>Processor Model</li>
                <li>Screen Size</li>
                <li>Operation System</li>
            </ul>
        </div>


        @*<div class="Description">*@
        <div class="col-sm">
            <ul class="detail">
                <li>Description</li>
                <li>Model</li>
                <li>Price</li>
                <li>Storage</li>
                <li>Memory</li>
                <li>Processor Model</li>
                <li>Screen Size</li>
                <li>Operation System</li>
            </ul>
        </div>

        @*<div class="Description">*@
        <div class="col-sm">
            <ul class="detail">
                <li>Description</li>
                <li>Model</li>
                <li>Price</li>
                <li>Storage</li>
                <li>Memory</li>
                <li>Processor Model</li>
                <li>Screen Size</li>
                <li>Operation System</li>
            </ul>
        </div>
    </div>
</div>

